<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SISTEMA WEB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/consult">Consultar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col bg-white">
        <main>
            <form class="px-4 py-3" action="/sign-up" method="POST">
                <div class="mb-3">
                    <h5 class="modal-title">Cadastrar - Agendamento de Potenciais Clientes</h5>
                </div>
                <div class="mb-3">
                    <p>Sistema utilizado para agendamento de serviços.</p>
                </div>
                <div class="mb-3">
                    <label for="exampleDropdownFormName1" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="exampleDropdownFormName1">
                </div>
                <div class="mb-3">
                    <label for="exampleDropdownFormTelephone1" class="form-label">Telefone:</label>
                    <input type="tel" class="form-control" id="exampleDropdownFormTelephone1" placeholder="(xx) xxxxx-xxxx">
                </div>
                <div class="mb-3">
                    <label for="form-select" class="form-label">Origem:</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Celular</option>
                        <option value="1">Telefone fixo</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleDropdownFormDate1" class="form-label">Data do contato:</label>
                    <input type="date" class="form-control" id="exampleDropdownFormDate1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Observação:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </main>
    </div>
</div>
